.item-comment-container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.comment-votes, .comment-main{
    display: inline;;
    
}
.comment-votes{

    width: 100px;
    /* border: 1px solid #000000; */
    text-align: center;
}
.comment-votes-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    
}
.comment-votes-box i{
    position: absolute;
    left: 17px;
    top: 17px;
}
.comment-votes-box-title h6{
    margin-top: 60px;
}

.comment-content{
    margin-left: 100px;
    margin-top: -50px;
    width: 700px;
    /* border: 1px solid #000000; */
}
.comment-name, .comment-time{
    display: inline-block;
    margin-left: 100px;
}
