.profile-container{
    display: flex;
    /* width: 1200px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
}
.left-container{
    width: 30%;
    height: 400px;
    border: 1px solid linear-gradient(to right, rgba(238, 23, 23, 0.719), rgb(255, 115, 0));
    text-align: center;
    margin-right: 60px;
    background-image: linear-gradient(to right, rgba(238, 23, 23, 0.719), rgb(255, 115, 0));
}

.left-container .avatar img{
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.right-container{
    width: 70%;
    height: 400px;
    border: 1px solid white;
}
.fullname, .username, .email, .phone, .created_at{
    margin-bottom: 15px;
}

.right-container input {
    padding-left: 10px;
}

.old-password, .new-password, .confirm-password{
    width: 100%;
    height: 40px;
    border: 1px solid thistle;
}

.btn-change-password {
    width: 400px;
}