.content-question-container, .comment-container{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.breadcrumb{
    align-items: center;
    height: 80px;
}

.info-box{
    display: flex;
    align-items: center;
}


.vote-box-content{
    width: 100px;
    height: 100px;
    
}
.votes-box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    font-size: 30px;
    top: 20px;
    left: 20px;
}
.votes-box-title{
    margin-top: 20px;
    text-align: center;
}

.votes-box:hover{
    border-radius: 50%;
    border: 1px solid #f25c05;
    position: relative;
    color: #f25c05;
    cursor: pointer;
}
.votes-box i{
    position: absolute;
    left: 15px;
    top: 15px;
}

.username-box, .time-box, .category-box{
    margin-right: 30px;
}

.title-question,.content-question, .tag-question{
    margin: 30px 0;
}
.title-question{
    font-size: 30px;
    font-weight: bold;
}

.tag-question{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.tag-question p{
    display: inline;
    margin-right: 20px;
    background-color: white;
    color: #f25c05;
    border: #f25c05 solid 1px;
    padding: 0 5px;
}
.tag-question p:hover{
    background-color: #f25c05;
    color: white;
    cursor: pointer;
}

.question-footer{
    display: flex;
    align-items: center;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    width: 80%;
    height: 60px;
    position: relative;
    margin-bottom: 60px;
}
.answer-count, .vote-count{
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.question-btn-answer{
    margin-left: 110px;
    border-radius: 15px;
    color:#f25c05;
    background-color: white;
    border: 1px solid #f25c05;
}
 .question-btn-answer:hover{
    background-color: #f25c05;
    color: white;
    cursor: pointer;
}
.report-footer{
    display: flex;
}

.box-input{
    width: 100%;
    height: 120px;
    border: 1px solid #f25c05;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}
.comment-box textarea{
    height: 200px;
    width: 800px;
}
